[2021-09-18 09:54] rishipurwar1 opened #24 "Fix challenge details page blank screen"
## About the bug
The challenge details page should show a loading state instead of a blank page while content is loading.

## To Reproduce
Steps to reproduce the behavior:
1. Go to any of the challenge details pages and see the difference between the loading state and after loading state.
2. See an error

## Expected behavior
It should show a loading animation(either an SVG loader or a skeleton lo

[2021-09-18 10:02] rishipurwar1 opened #25 "Fix skeleton loading card"
## Describe the bug

## To Reproduce
Steps to reproduce the behavior:
1. Go to any of the pages and see the size difference between skeleton cards and actual cards.

## Expected behavior
The size of both the cards should be the same to make everything look similar before and after loading.

If anyone wants to work on this issue, please let me know in the comment.

[2021-09-18 10:09] rishipurwar1 opened #26 "Card and button lack hover effect"
## Describe the improvement
If you hover over any of the cards and buttons, they don't show a hover effect.

## Expected behavior
Add a hover effect to cards and buttons to make things smoother.

If anyone wants to work on this issue, please let me know in the comment.

[2021-09-18 10:16] rishipurwar1 opened #27 "Write caching logic(useSwr hook)"
## Problem statement
Right now codingspace doesn't have a way to cache data to load things faster.

## Describe the solution you'd like
I want to add a useSwr hook to cache the data to make the website load faster.

## Success criteria
The criteria must be met in order to consider this feature a success.
- Load times reduced at least 20%, ideally more

## User stories
How the product should work f

[2021-09-18 18:02] mehmettemel commented on #26
I can work on it

[2021-09-18 18:22] rishipurwar1 commented on #26
@mehmettemel assigned to you.

[2021-09-18 18:23] rishipurwar1 commented on #26
You need to add to all the cards(challenges, solutions, resources)

[2021-09-18 19:32] mehmettemel commented on #26
I have created firestore project for .env but cannot reach firestore data backend.I m only seeing skeleton cards

[2021-09-19 03:45] rishipurwar1 commented on #26
Hey @mehmettemel ,

Can you please share your email id from which you created the firebase project, so I can give you access to the data?
If you don't want to share your email id over here you can message me on [LinkedIn](https://www.linkedin.com/in/thefierycoder/) or [Twitter](https://twitter.com/thefierycoder).

[2021-09-19 04:10] rishipurwar1 opened #28 "Create a Join Discord Community button"
## Problem statement
Right now there is no way to join codingspace discord community.

## Describe the solution you'd like
Add a join discord community button on the website so, user can join the community.

## Success criteria
The criteria must be met in order to consider this feature a success.
- More users become a part of our community.

## User stories
How the product should work for various

[2021-09-19 08:13] mohammedrehan275 commented on #28
I want to work on this issue.

[2021-09-19 08:16] rishipurwar1 commented on #28
@mohammedrehan275 assigned to you
Please let me know where are you going to add the button before starting coding it.

[2021-09-19 08:18] mohammedrehan275 commented on #28
How will it look adjacent to the signup with github button.
or let me know if you have any thoughts on this

[2021-09-19 08:21] rishipurwar1 commented on #26
Hey @mehmettemel
Which type of hover effect are you planning to add on cards and buttons?

[2021-09-19 08:22] rishipurwar1 commented on #28
for desktop, I would suggest you to add on the bottom of the sidebar.

[2021-09-19 08:23] mohammedrehan275 commented on #28
below resources and roadmap?

I will start working on it

[2021-09-19 08:24] rishipurwar1 commented on #28
yes

[2021-09-19 08:24] mehmettemel commented on #26
I am planning to  change the background and text color of the card while hovering.I m not gonna change the button background color just make button text color more lighter.

[2021-09-19 08:29] rishipurwar1 commented on #26
Instead of changing the background and text color. I would suggest you change the box shadow value or scale up the cards on hover.
or checkout example-2 for[ inspiration](https://csshint.com/css-card-hover-effects/).

[2021-09-19 08:36] rishipurwar1 commented on #26
I would suggest you explore more examples for inspiration then let me know.

[2021-09-19 08:39] rishipurwar1 commented on #26
Feel free to give a Github star⭐️ to this repo.

[2021-09-19 08:40] rishipurwar1 commented on #28
Feel free to give a Github Star⭐️ to this repo.

[2021-09-19 10:18] rishipurwar1 commented on #26
@mehmettemel do you have any experience with eslint and prettier?

[2021-09-19 13:02] mehmettemel commented on #26
yeah.you can watch traversy media video for this

[2021-09-20 08:43] RosarNicolas commented on #25
Hello, I would like to try working on this issue is it possible?

[2021-09-20 15:46] rishipurwar1 commented on #25
@RosarNicolas assigned to you!
Please create a new branch and push your code to the development branch not in main branch.

[2021-09-21 10:36] mohammedrehan275 opened #32 "Typo in the How it works section"
**Describe the bug**
There's a typo in the **how it works** section. The word access is misspelled as excess.

**Screenshots**

![Screenshot (4)](https://user-images.githubusercontent.com/65021509/134156224-ed110c2e-00ff-486c-89c9-fabd4f7283b7.png)

[2021-09-21 13:26] RosarNicolas commented on #25
I started looking at the issue and have few questions before starting to code.
1. The challenges cards are using grid and the skeleton ones are using flex. Is there a reason for it?

2. The main size differences are from the height so does something like this would work? (with the pulse grey animation)

![Challenge_card_skeleton](https://user-images.githubusercontent.com/32072799/134178924-ade13c5

[2021-09-21 13:31] YashKamboj commented on #32
You doing it or can i work on it??

[2021-09-21 13:49] rishipurwar1 commented on #25
No, there is no reason for it. You can layout the skeleton card using CSS Grid or if you don't have time, you can leave it for now, only focus on skeleton cards.

It looks good but I would suggest adding more skeletons for paragraphs, as there is so much whitespace.

No, there is no way for you to add a challenge but I can add you to my firebase account to access data for the development purpose,

[2021-09-21 17:38] YashKamboj commented on #32
Thnx

[2021-09-21 18:56] YashKamboj commented on #32
![Screenshot (77)](https://user-images.githubusercontent.com/75125203/134230895-8f5fd44c-50dd-456e-9211-e2247d419896.png)
Hey this error is showing without any changes, pls help.

[2021-09-22 00:34] tabassum2507 commented on #28
Is this issue still open?

[2021-09-22 02:46] mohammedrehan275 commented on #32
Add .env file in the root directory and enter the firebase config details in the env file.

The process is written in the readme file.

[2021-09-22 03:59] rishipurwar1 commented on #28
Hello @tabassum2507 👋

Welcome to the community!🎉
It's open but @mohammedrehan275 is working on it.
You can pick any other issues or create your own one if you find any bug on the website.

[2021-09-22 04:02] rishipurwar1 commented on #32
Create your own firebase project and then copy-paste your config info into
the .env file as mentioned in the readme.

[2021-09-22 14:01] wsameer commented on #24
@rishipurwar1 I can take it up.

[2021-09-22 16:45] YashKamboj commented on #32
Ok thnx. I was making .env in src folder 😂😂

[2021-09-23 10:48] rishipurwar1 commented on #24
@wsameer assigned to you.
Please update your fork repo because I made some changes to the main branch.

[2021-09-23 10:53] rishipurwar1 opened #39 "Make a new coming soon page for resources page"
**Is your feature request related to a problem? Please describe.**
Make a new coming soon page for a resource page.

**Describe the solution you'd like**
You can add a coming soon illustration or do something creative to build a beautiful coming soon that matches the color scheme of our website.

If anyone wants to work on this issue, please let me know in the comment section.

[2021-09-23 14:19] wsameer commented on #24
@rishipurwar1  I am installing the APP and getting this fire-base error?

`[2021-09-23T14:18:47.370Z]  @firebase/firestore: Firestore (7.24.0): Could not reach Cloud Firestore backend. Connection failed 1 times. Most recent error: FirebaseError: [code=not-found]: The project coding-space-ed1c3 does not exist or it does not contain an active Cloud Datastore or Cloud Firestore database. Please visit

[2021-09-23 16:30] rishipurwar1 commented on #24
Did you get this error when you ran npm start or npm install?

[2021-09-23 16:48] rishipurwar1 commented on #24
If you haven't created your firebase project yet, I can give you access to our development firebase project then It would be easy for you to work.
Share your email id here on you can dm me on [Twitter](https://twitter.com/thefierycoder) or [LinkedIn](https://www.linkedin.com/in/thefierycoder/)

And please go through the readme.md file.

[2021-09-23 20:42] AyoubBoulahtar commented on #39
Hello, can I work on this ?

[2021-09-24 02:25] rishipurwar1 commented on #39
@AyoubBoulahtar  Yes! You can work on this issue.
Please share the photo of the page before committing your code.

[2021-09-24 10:40] wsameer commented on #24
I have pinged you on Twitter. Everything is set-up as per Readme.md, just the credentials to development firebase project are remaining.

[2021-09-24 10:46] rishipurwar1 commented on #24
Just added you to the firebase project.

[2021-09-24 10:48] rishipurwar1 commented on #24
Please share the gif/image of the changes before committing your code.
and I would like to know how are you going to fix this?

[2021-09-24 10:51] wsameer commented on #24
I see that you have added a spinner component already. Would you want me to reuse that?

[2021-09-24 10:55] rishipurwar1 commented on #24
I think it'll not look good on the UI.
We need some kind of rocket loading animation.

[2021-09-24 11:35] rishipurwar1 commented on #24
Hey @wsameer
I just added a rocket loader Lottie file. You can use that.

[2021-09-24 13:50] wsameer commented on #24
@rishipurwar1 how does this look?

![image](https://user-images.githubusercontent.com/8468992/134685565-c26e8aac-c769-4304-a925-4eaba1d2132b.png)

[2021-09-24 14:14] rishipurwar1 commented on #24
@wsameer It looks good but I think you need to decrease the size of the loader a little bit.

[2021-09-24 14:21] #25 closed

[2021-09-24 15:13] rishipurwar1 opened #48 "Fix solution details page blank screen"
About the bug
The solution details page should show a loading state(loader) instead of a blank page while content is loading.

To Reproduce
Steps to reproduce the behavior:

Go to any of the solution details pages and see the difference between the loading state and after loading state.
See an error
Expected behavior
It should show a loading animation(either an SVG loader or a skeleton loading ani

[2021-09-24 15:19] rishipurwar1 commented on #24
Just to confirm are you using the Lottie component from the react-lottie npm package?
I implemented all the Lottie animation using this package.

[2021-09-24 17:26] wsameer commented on #24
Yeah, I am using that only. Also, will reduce the size by 30%.

[2021-09-25 09:32] wsameer commented on #48
@rishipurwar1 I can extend my fix for #24 and resolve this too. What say?

[2021-09-25 09:55] rishipurwar1 commented on #48
Yes! you can

[2021-09-25 12:32] ishikaamittal opened #61 "About the bug/Additional features"
The mail server may have bugs. Also, you can add additional features to make it better.

[2021-09-25 12:33] #61 closed

[2021-09-25 12:34] #24 closed

[2021-09-25 12:55] rishipurwar1 commented on #26
@mehmettemel are you working on this issue?

[2021-09-25 13:03] rishipurwar1 opened #62 "Make footer stick to bottom of the page"
**Describe the bug**
When the content of the page is less, then the footer gets to stretch to fill the space.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the Roadmaps page
2. See footer

**Expected behavior**
It should stick to the bottom when the content of the page is less but when the content is enough then it should be scrollable.

**Screenshots**
<img width="1440" alt="Screen

[2021-09-25 18:25] aman-sukhwal-7 commented on #26
I can work on it!

[2021-09-25 18:26] aman-sukhwal-7 commented on #62
I can work on it!

[2021-09-25 18:26] aman-sukhwal-7 commented on #62
I can work on it!

[2021-09-26 03:17] rishipurwar1 commented on #62
@aman-sukhwal-7 assigned to you

[2021-09-26 06:09] #48 closed

[2021-09-26 06:11] #32 closed

[2021-09-27 11:43] #28 closed

[2021-09-29 14:54] demonicirfan commented on #39
Hii, can i work on this i have some good design skills

[2021-09-29 15:14] rishipurwar1 commented on #39
Yes, you can work on this issue with @AyoubBoulahtar.
Please keep your discussion over here.

[2021-09-29 15:15] rishipurwar1 commented on #39
Yes, you can work on this issue with @AyoubBoulahtar.
Please keep your discussion over here.

[2021-09-29 15:54] AyoubBoulahtar commented on #39
@demonicirfan let's see what you have in mind

[2021-09-29 15:57] demonicirfan commented on #39
yes great i will create the graphics first and then share it here

[2021-09-29 16:24] AyoubBoulahtar commented on #39
@demonicirfan When can you get something ready ?

[2021-09-29 17:05] demonicirfan commented on #39
@AyoubBoulahtar @rishipurwar1 I made this can you review it, please
![MacBook - 1for review](https://user-images.githubusercontent.com/74172466/135315807-f949d74b-48eb-40cb-9bf0-9c3a353472b5.png)

[2021-09-29 17:07] demonicirfan commented on #39
I dont know how to animate it if you will refer me to some resource that will help me to animate this then I will code that too

[2021-09-29 17:10] AyoubBoulahtar commented on #39
It blends good with the overall design system, think about adding some sort of call to action, maybe a newsletter subscription field.

[2021-09-29 17:13] demonicirfan commented on #39
![image](https://user-images.githubusercontent.com/74172466/135317086-9252b6ae-04d0-4b72-93a0-d7f1d1069a25.png)

[2021-09-29 17:15] AyoubBoulahtar commented on #39
Take your time to enhance it further, but anyway, this is the right path

[2021-09-29 17:23] demonicirfan commented on #39
Thanks what more should I improve but it will be there for some time and giving more effort will not be that much valuable I think. Instead, we should focus on other features. I just finished the mobile version.
![13 Pro - 1mobile](https://user-images.githubusercontent.com/74172466/135318283-cf7b63b1-a38b-4da8-a76a-bef426bcfada.png)

[2021-09-30 11:43] rishipurwar1 commented on #39
You can use this tool to animate the SVG illustration.
https://www.svgator.com/

[2021-09-30 11:44] aman-sukhwal-7 opened #66 "Navigating through navbar on small screen."
**Describe the bug**
The side navbar doesn't close on clicking the other section.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the website on a small screen.
2. Click on the nav button.
3. Click on any nav link.

**Expected behavior**
It must get closed itself after clicking on any nav link.

[2021-09-30 14:30] demonicirfan commented on #39
ok I have started learning this tool and i will animate that svg can i start coding this page also

[2021-09-30 14:32] rishipurwar1 commented on #39
You need to discuss with @AyoubBoulahtar

[2021-09-30 14:36] Bivas-Biswas commented on #66
can i work on this ?

[2021-09-30 14:38] Bivas-Biswas commented on #66
can i work on this ?

[2021-09-30 14:49] rishipurwar1 commented on #66
@aman-sukhwal-7 are you working on this issue?

[2021-09-30 18:01] demonicirfan commented on #39
@AyoubBoulahtar hii man so whats your plan should we start it how to proceed I am learning how to animate that svg it will be done by tommorrow

[2021-09-30 18:29] Bivas-Biswas commented on #66
@rishipurwar1
![image](https://user-images.githubusercontent.com/75929842/135510887-edfc5f85-cee0-473d-bf75-8bb059d999b6.png)
How can i get this, i am not familiar with firebase.

[2021-09-30 23:01] AyoubBoulahtar commented on #39
@demonicirfan I'm here whenever you have the design ready, we can implement it, just ping me when you're done, here or twitter.

[2021-10-01 02:45] rishipurwar1 commented on #39
Please keep your discussion here only, so, more people can give their feedback.🙂

[2021-10-01 03:03] shreyaansjain06 opened #68 "Issue in readme.md"
Readme.md does not properly tells the beginners how to use it i can make the changes if you assign this issue to me

[2021-10-01 03:48] sakuraixiao commented on #62
can i not work on it, if it is assigned to someone?

[2021-10-01 04:26] rishipurwar1 commented on #62
Hey @sakuraixiao,
@aman-sukhwal-7 already fixed this issue [in this pull request](https://github.com/rishipurwar1/coding-space/pull/67).
You can work on other issues.

[2021-10-01 04:30] rishipurwar1 commented on #68
Hey @shreyaansjain06,

Welcome to the community,
What kind of changes would you like to make in Readme?
According to me, "how to access the firebase data" need proper documentation in the readme.md i.e. how do contributors get access to the firebase db?

[2021-10-01 04:43] rishipurwar1 commented on #66
Hey @Bivas-Biswas,
Share your email here or you can DM me on Twitter or on our discord server. I'll give you access to the firebase db and then copy and paste your credentials from [here](https://console.firebase.google.com/).

[2021-10-01 04:47] SAHU-01 commented on #26
If this issue is open i'd like to work on it!

[2021-10-01 04:49] aman-sukhwal-7 commented on #66
yes

[2021-10-01 04:57] rishipurwar1 commented on #26
@aman-sukhwal-7 are you working on this issue?

[2021-10-01 04:59] rishipurwar1 opened #69 "Add a comment system to the solution detail page"
**Is your feature request related to a problem? Please describe.**
Right now, users can't get feedback on their solutions.

**Describe the solution you'd like**
Build a comment system, so, users can give their feedback on someone's solutions.

[2021-10-01 05:12] rishipurwar1 opened #71 "Add a contributors section on the challenge details page"
**Is your feature request related to a problem? Please describe.**
Right now, we're not able to give proper credit to the challenge contributor.

**Describe the solution you'd like**
You need to build a contributor section on the challenge details page, so if someone contributes a new challenge design, we can give proper credit to them by linking their social profile.

**Screenshot**

<img width="

[2021-10-01 05:14] shreyaansjain06 commented on #68
No i was talking about installation steps
- fork the project is not present
- clone link is not correct
Some changes like that i was talking about that
You can assign this issue if you understand what i mean

[2021-10-01 05:28] rishipurwar1 opened #72 "Contribute more challenges"
# Introduction

Your task is to create new challenges for the codingspace community members. It can be anything! Web App, Mobile App, Landing Page, Small JavaScript App...You are limited only by your imagination.

## Requirements

- Your challenge must have all the things that are listed in the below **Challenge Template** and in exact order.
- You need to provide the design file of the challenge.

[2021-10-01 05:31] rishipurwar1 commented on #68
Yes, you're right fork step is missing but the cloning step is there.
You can add a fork step to the readme.md

[2021-10-01 05:34] rishipurwar1 commented on #26
@SAHU-01 If you want, you can work with @aman-sukhwal-7 on this issue.

[2021-10-01 06:13] shreyaansjain06 commented on #68
I have made the pr kindly check it and give it a label of hactoberfest-accepted and hactoberfest-2021
If you need any changes do let me know
Thanks

[2021-10-01 06:14] rishipurwar1 commented on #68
Hey @shreyaansjain06
I'll review the pr soon.

Feel free to give a star to the repo

[2021-10-01 06:17] Bivas-Biswas commented on #71
@rishipurwar1 Hey, I want to work on this

[2021-10-01 06:18] rishipurwar1 commented on #39
@AyoubBoulahtar @demonicirfan Feel free to star the repo

[2021-10-01 06:18] shreyaansjain06 commented on #68
yeah sure i will do
 I want to become part of your community and do valuable contributions even after hactobefest

[2021-10-01 06:31] rishipurwar1 commented on #68
Great!
I already opened a couple of good issues, if you want, you can work on them.

[2021-10-01 06:37] rishipurwar1 commented on #71
@Bivas-Biswas assigned to you.

[2021-10-01 06:40] SAHU-01 commented on #26
@aman-sukhwal-7 lets dicuss and split the work,if it's ok with you!

[2021-10-01 07:18] piyush-harsh-15 commented on #71
@rishipurwar1 hey can I work on this?

[2021-10-01 07:24] rishipurwar1 commented on #71
Already assigned to @Bivas-Biswas
Please select a different issue.

[2021-10-01 08:36] Rispectech commented on #69
@rishipurwar1 can I work on this issue?

[2021-10-01 11:00] demonicirfan commented on #39
![svgAnimation](https://user-images.githubusercontent.com/74172466/135609124-94164efe-c820-4af4-a809-4d36b21433a4.gif)

This is what i could manage to make with a basic trail account its smooth but not showing here properly as i have screen recorded it know what next

[2021-10-01 11:21] AyoubBoulahtar commented on #39
@rishipurwar1 what svg loader are you using ?

[2021-10-01 11:32] rishipurwar1 commented on #39
Is there a sudden jerk at the end of the animation?
Overall it looks great

[2021-10-01 11:33] rishipurwar1 commented on #39
You can find loader in this path  /src/assets/animated_illustrations/loader.json

[2021-10-01 12:21] akhilpamwani commented on #69
I can work much better than him

[2021-10-01 12:57] rishipurwar1 commented on #69
@akhilpamwani this is not a competition.
Opensource is about collaborating with other people.
Both of you can work on this issue.

[2021-10-01 15:19] #68 closed

[2021-10-01 15:22] RuchikaSuryawanshi7 commented on #72
I can work on this issue, please assign this to me.

[2021-10-01 15:25] rishipurwar1 commented on #72
@RuchikaSuryawanshi7 assigned to you.
Please discuss your challenge idea with me before start designing it!

[2021-10-01 16:36] aman-sukhwal-7 commented on #26
Actually I already resolved this issue!

[2021-10-01 16:51] Bivas-Biswas commented on #71
![image](https://user-images.githubusercontent.com/75929842/135657874-fc583a4c-3375-4fa9-ac84-ceba5f55ba33.png)
@rishipurwar1 design completed. just need to add dynamic data. Can you add the data to firebase.

[2021-10-01 16:56] rishipurwar1 commented on #71
Great work!
Will add data to the firebase tomorrow?
Please check this change on different screen sizes.
Can you please create a separate component for this, so we can reuse it in other places like solution cards and in solution detail page?

[2021-10-01 17:31] SAHU-01 commented on #26
it's ok then not an issue!

[2021-10-01 17:37] Bivas-Biswas commented on #71
okay

[2021-10-01 17:52] rishipurwar1 commented on #71
Don't add "Contributed By" in the component, only include the profile data

[2021-10-01 17:53] Bivas-Biswas commented on #71
I will add in smallcomponents folder , any name suggestion

[2021-10-01 18:08] Bivas-Biswas opened #77 "Bug: In challenge page Dropdown menu Mobile has no hover effect"
**Describe the bug**
In Dropdown menu Desktop has a hover effect. But Mobile has no hover effect

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'challenge page'
2. Click on 'Option Dropdown'
3. Hover to 'Mobile'
4. no Hover Effect

**Expected behavior**
I want when I hover over the mobile, it's hover effect is same as desktop hover.

**Screenshots**
![image](https://user-images.githu

[2021-10-01 18:17] Bivas-Biswas commented on #77
I want work on this.

[2021-10-01 18:30] Manas-E commented on #77
Hey, @Bivas-Biswas  Can I try this out?

[2021-10-01 22:00] Harshavardhan7678 commented on #77
Hey @Bivas-Biswas, I would love to fix this bug. Kindly, assign it to me.

[2021-10-02 02:02] rishipurwar1 commented on #77
@Bivas-Biswas You can work on this issue.

[2021-10-02 02:03] rishipurwar1 commented on #77
Sorry @Manas-E @Harshavardhan7678
@Bivas-Biswas First asked me, so, I have to assign to him

[2021-10-02 02:05] rishipurwar1 commented on #71
Maybe ContributorProfile.js

[2021-10-02 02:23] rishipurwar1 opened #79 "Add a more creative headline to the Homepage and style it"
**Describe an issue**
The text of the Hero section of the homepage doesn't look good, every line in that text looks very close.

**Describe the solution you'd like**
Add a more creative headline to the Hero section and style it properly, play with letter spacing and line-height property to give proper spacing and you can also increase the width of the text container, there are so many ways to make

[2021-10-02 02:25] Bivas-Biswas commented on #77
okay

[2021-10-02 02:26] Bivas-Biswas commented on #71
okay, i am done with my side. You need to just update the database.

[2021-10-02 02:27] rishipurwar1 opened #80 "Change the headline to the solutions page and style it"
**Describe an issue**
The text of the Hero section of the solution page doesn't look good, every line in that text looks very close.

**Describe the solution you'd like**
You need to come up with a creative headline for the Hero section of the solutions page and replace it with the existing headline and style it properly, play with letter spacing and line-height property to give proper spacing and

[2021-10-02 02:29] rishipurwar1 opened #81 "Add a more creative headline to the Resources Page and style it"
**Describe an issue**
The text of the Hero section of the **Resources** page doesn't look good, every line in that text looks very close.

**Describe the solution you'd like**
You need to come up with a creative headline for the Hero section of the Resources page and replace it with the existing headline and style it properly, play with letter spacing and line-height property to give proper spacin

[2021-10-02 02:32] rishipurwar1 opened #82 "Add a more creative headline to the Challenges Page and style it"
**Describe an issue**
The text of the Hero section of the Challenges page doesn't look good, every line in that text looks very close.

**Describe the solution you'd like**
Add a more creative headline to the Hero section and style it properly, play with letter spacing and line-height property to give proper spacing and you can also increase the width of the text container, there are so many ways

[2021-10-02 02:38] rishipurwar1 commented on #71
Will do that soon.
When you add data using data to that component, please make sure you're are handling different use cases for example: let's say there is not any contributor for the particular challenge, so, you need to hide that section. You need to write a little bit js to do that(specifically ternary operator or && operator).

[2021-10-02 02:39] rishipurwar1 opened #83 "Add a more creative headline to the MySolutions Page and style it"
**Describe an issue**
The text of the Hero section of the **MySolutions** page doesn't look good, every line in that text looks very close.

**Describe the solution you'd like**
You need to come up with a creative headline for the Hero section of the MySolutions page and replace it with the existing headline and style it properly, play with letter spacing and line-height property to give proper sp

[2021-10-02 02:41] rishipurwar1 commented on #77
Hey @Bivas-Biswas,

But don't add that white background on hover, come up with something good.

[2021-10-02 02:46] Bivas-Biswas commented on #71
Great, I didn't think of this edge case.

[2021-10-02 02:49] Bivas-Biswas commented on #77
Do you want that desktop and mobile hover effects have same effect or difference.
Like, Currently desktop effect remain same. And add another effect for mobile

[2021-10-02 03:00] rishipurwar1 commented on #77
Same effect

And when desktop/mobile is selected, it should have an active state(just add bg color).

[2021-10-02 03:01] rishipurwar1 commented on #77
Before making a commit, please show me here, so, I can give you feedback on that.

[2021-10-02 03:06] Bivas-Biswas commented on #77
I need to confirm that you need different bg color for both element

[2021-10-02 03:15] rishipurwar1 commented on #77
No, you need to add the same bg color for both(mobile and desktop) on hover.
You will need to confirm that the design looks good after the changes you make.

[2021-10-02 03:16] rishipurwar1 commented on #77
and please make the PR on the development branch not in the main branch

[2021-10-02 06:54] demonicirfan commented on #39
no that is not jerk i screen recorded it that is why

[2021-10-02 06:56] demonicirfan commented on #79
Hii can i work on this for hacktober fest

[2021-10-02 07:22] shikhar13012001 commented on #83
Hey! I would like to work on this, could you assign this to me?

[2021-10-02 07:37] rishipurwar1 commented on #83
@shikhar13012001 assigned to you.
Please share the new headline with me, before committing your changes.

[2021-10-02 07:37] rishipurwar1 commented on #79
@demonicirfan assigned to you.
Please share the new headline with me, before committing your changes.

[2021-10-02 14:08] RuchikaSuryawanshi7 commented on #72
Hello Rishi Pawar,
Greetings of the day!!!
For this issue, I have thought of the Following Challenges:
1) To-Do App using javascript.
2) Quiz App using JavaScript.
3) Single Page Portfolio Webpage.
4) Landing page for a product.

thank you in advance...

On Fri, 1 Oct 2021 at 20:58, Rishi Purwar ***@***.***> wrote:

[2021-10-02 14:44] rishipurwar1 commented on #72
Great Ideas @RuchikaSuryawanshi7
How are you going to design these challenges?

[2021-10-02 14:46] Shreyas-Waghchaure commented on #77
Is it still open for contribute

[2021-10-02 14:48] RuchikaSuryawanshi7 commented on #72
I'll be creating a problem statement and a UI file using either figma or
Adobe Xd.
Could you please tell me on which challenge I should start workingon?

On Sat, 2 Oct 2021, 8:14 pm Rishi Purwar, ***@***.***> wrote:

[2021-10-02 14:51] RuchikaSuryawanshi7 commented on #81
I can work on this issue.

[2021-10-02 14:56] Harshavardhan7678 commented on #80
Hey @rishipurwar1, I would like to work on it.

[2021-10-02 15:04] Bivas-Biswas commented on #77
@Shreyas-Waghchaure  Hey, I am working on it. You can see other issue.

[2021-10-02 15:16] rishipurwar1 commented on #80
assigned to you

On Sat 2 Oct, 2021, 8:27 PM Harshavardhan Reddy, ***@***.***>
wrote:

[2021-10-02 15:17] rishipurwar1 commented on #72
Start with quiz app.
And please use figma to design it.

On Sat 2 Oct, 2021, 8:18 PM RuchikaSuryawanshi7, ***@***.***>
wrote:

[2021-10-02 15:18] rishipurwar1 commented on #81
assigned to you

On Sat 2 Oct, 2021, 8:21 PM RuchikaSuryawanshi7, ***@***.***>
wrote:

[2021-10-02 15:22] rishipurwar1 commented on #81
Please share the Headline with me before committing your code, so, I can give you feedback on that

[2021-10-02 15:23] rishipurwar1 commented on #80
Hey @Harshavardhan7678
Please share your headline with me before committing your code, so, I can give you feedback on that

[2021-10-02 15:35] RuchikaSuryawanshi7 commented on #81
Yes, sure!!

On Sat, 2 Oct 2021 at 20:53, Rishi Purwar ***@***.***> wrote:

[2021-10-02 15:43] rishipurwar1 commented on #69
@Rispectech are you working on this issue?

[2021-10-02 15:43] rishipurwar1 commented on #39
Ok!
Have you completed the design part?

[2021-10-02 15:43] aman-sukhwal-7 commented on #82
I can work on it!

[2021-10-02 15:48] rishipurwar1 commented on #82
@aman-sukhwal-7 assigned to you

[2021-10-02 15:52] Rispectech commented on #69
Sure I will work on this but can I start after a few days like on Tuesday. I am busy due to some previous appointment but I am interested in the project so would be extremely thankful if u can comply
Thanks

[2021-10-02 16:08] rishipurwar1 commented on #69
No Problem
Take your time🙂

On Sat 2 Oct, 2021, 9:22 PM respectech, ***@***.***> wrote:

[2021-10-02 16:10] Rispectech commented on #69
Thanks a lot, @rishipurwar1. I will try to meet your expectations

[2021-10-02 16:24] SAKSHAM-SINGH130 commented on #26
I can fix this bug very easily.

[2021-10-02 17:18] demonicirfan commented on #39
Yes i have completed it

[2021-10-02 17:43] AyoubBoulahtar commented on #39
@demonicirfan do you need this PR for Hacktoberfest ? We can work on it together but you send the PR

[2021-10-02 17:49] Bivas-Biswas commented on #77
@rishipurwar1

![image](https://user-images.githubusercontent.com/75929842/135726703-c56ca15d-4337-42fb-a446-bfa5deb03681.png)

with border-radius

![image](https://user-images.githubusercontent.com/75929842/135726745-631156f0-2be3-401b-8aba-683bdd9fbf08.png)

Good :
1. It's match with the theme
2. Because It placed over the figma page. Lot's design doesn't  use bg-purple-500 as primary color. So

[2021-10-02 18:01] Bivas-Biswas commented on #71
I just completed from my side .
Just need the data.

Also add the Contributors any social media link. That would be very good.
Then I will add a link hover with underline.

There is no hurry. Just give some update. 🙂

[2021-10-02 18:01] Harshavardhan7678 commented on #80
Yeah, will surely keep this in mind!

[2021-10-02 18:09] Shreyas-Waghchaure commented on #77
if there any other issue regarding UI please let me know to contribute @rishipurwar1

[2021-10-02 18:47] Bivas-Biswas opened #87 "Bug : side navbar icons are not center in screen size between 1024-1279"
**Describe the bug**
A clear and concise description of what the bug is.
side option icons are not center in screen size between 1024-1279.
It needs to center the div.

**To Reproduce**
Center the icon

1. Open 'Screen between 1024-1279'
2. check 'side navbar'
4. See error 'icon not center'

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![im

[2021-10-02 20:44] arp99 commented on #87
I have added a PR for this issue, kindly please review it

[2021-10-02 20:48] Harshavardhan7678 commented on #80
Hey @rishipurwar1
I am kinda new to Firebase, could you guide me a bit on what do we have to do with the .env file?

[2021-10-03 03:28] rishipurwar1 commented on #71
Actually, I am very busy these days, will let you know after updating the data

[2021-10-03 03:31] rishipurwar1 commented on #77
It looks great but use it without border-radius and one more thing removes that little padding-bottom or margin-bottom and see how it looks?

[2021-10-03 03:34] rishipurwar1 commented on #87
Hey @arp99
Great work
Please test it for all screen sizes and add a screenshot of the changes. It should be at the left when the screen size is large

[2021-10-03 03:36] rishipurwar1 commented on #80
Hello @Harshavardhan7678
Create a new firebase project and then copy your credentials from the firebase console and paste in the .env file as shown in the readme.md
Just do a google search "How to create a new firebase project"

If you need any help, please let me know.

[2021-10-03 03:37] rishipurwar1 commented on #39
Please share your design @demonicirfan

[2021-10-03 03:44] demonicirfan opened #89 "Design and Animation files For the coming soon page"

[2021-10-03 04:20] rishipurwar1 commented on #89
Hey @demonicirfan
Please add some details about the issue i.e. screenshots for the mobile and desktop.

[2021-10-03 04:22] rishipurwar1 commented on #77
Go through the website you'll find some UI bugs and keep your eye on the issues page. I'll try to add more issues soon.

[2021-10-03 04:27] rishipurwar1 opened #90 "Design a Roadmaps page"
**Is your feature request related to a problem? Please describe.**
Right now, we don't have a roadmaps page.

**Describe the solution you'd like**
Design a roadmap using a similar design system.
- [ ] Roadmap page should have a hero section like all other pages
- [ ] Roadmap page should have four types of roadmaps(Frontend Path, Backend Path, Full-stack Path, Mobile Development path)
- [ ] When us

[2021-10-03 05:26] Paawan9700 commented on #83
hey kindly assign this issue to me, i will surely try to resolve it.

[2021-10-03 05:32] rishipurwar1 commented on #83
@shikhar13012001 are you working on this issue?

[2021-10-03 05:34] rishipurwar1 commented on #83
Hello @Paawan9700 👋
Welcome to the CODINGSPACE community,🚀

If you have some creative headline for this page, you can share with us.

[2021-10-03 06:09] arp99 commented on #87
Hey @rishipurwar1 Here are the scrrenshots for sm,md,lg,xl screen sizes
![3](https://user-images.githubusercontent.com/47218246/135742153-f863f9b1-1f18-4da0-83e2-490dee905d42.jpg)
![4](https://user-images.githubusercontent.com/47218246/135742156-8a0b7081-2c2a-4c42-8635-c5274322a35b.jpg)
![1](https://user-images.githubusercontent.com/47218246/135742157-67262eff-293f-4af8-9692-e586a6dbe271.jpg)
![2]

[2021-10-03 06:46] #87 closed

[2021-10-03 08:09] rishipurwar1 opened #91 "Add challenge details"
# Introduction

Your task is to fill the below Challenge Template according to the below Challenge UI Design. You are limited only by your imagination.

## UI Design
![Desktop (4)](https://user-images.githubusercontent.com/57035408/135745448-b80baccf-3c15-42ed-a47f-254aa937a7fb.png)

## Requirements

- In your challenge template, you need to include all the things that are listed in the below **Ch

[2021-10-03 08:13] Bivas-Biswas commented on #91
I want to do this

[2021-10-03 08:13] rishipurwar1 commented on #91
@Bivas-Biswas assigned to you.

[2021-10-03 08:20] Harshavardhan7678 commented on #80
Thank you for your support. I will look into them and will start working on the issue today!

[2021-10-03 08:32] Bivas-Biswas commented on #91
You have any figma link of this .

[2021-10-03 08:59] rishipurwar1 commented on #91
Yes I have

[2021-10-03 09:26] Bivas-Biswas commented on #91
share the link

[2021-10-03 09:29] rishipurwar1 commented on #91
https://www.figma.com/file/0T5eX1C9aj3cHz6oBlNH1b/Contact-Form?node-id=1%3A3

[2021-10-03 10:04] demonicirfan commented on #89
![image](https://user-images.githubusercontent.com/74172466/135748728-7d8bffe0-c326-4eb1-84dd-8d3b592af8be.png)
![image](https://user-images.githubusercontent.com/74172466/135748744-01d86cc5-e529-4dc9-9c34-75669121bdeb.png)
Can you please confirm if the animation export settings are correct
![image](https://user-images.githubusercontent.com/74172466/135748918-f3cc177b-fc04-424f-bbda-f831e53b1da6.p

[2021-10-03 10:35] rishipurwar1 commented on #89
Hey @demonicirfan
design looks great.
Just make the text of the button semibold or bold.

and I don't have any idea about the setting

[2021-10-03 11:18] rishipurwar1 commented on #71
I added the data.
and please use the Cloudinary Image component for the profile photo.

[2021-10-03 14:15] demonicirfan commented on #89
Ok i will then i will share the files

[2021-10-03 14:56] arp99 opened #93 "View challenges button does not fix to the bottom of card"
**Describe the bug**
In the challenges card, in some cards the view challenges button does not come to the end, it leaves some space at the bottom

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to the website
2. Try resizing the window
3.  You will see the error as the screenshot

**Expected behaviour**
All view challenge buttons should be fixed at the bottom

**Screenshots**

![issue_

[2021-10-03 14:57] arp99 commented on #93
@rishipurwar1 Please assign me this issue I want to work on this, For this I would need the data from your firebase database, Otherwise The card would just show skeleton UI for me.

[2021-10-03 15:23] #62 closed

[2021-10-03 15:26] arp99 commented on #93
@rishipurwar1 I need the data of the cards to view , otherwise it is just showing skeleton UI in localhost

[2021-10-03 15:35] demonicirfan commented on #89
Ok I will attach now after doing the changes and also if the other guy is not working on the coding part let me do.

[2021-10-03 15:49] rishipurwar1 commented on #93
Share your email over here or you can dm me on Twitter or on our discord server.

[2021-10-03 15:51] arp99 commented on #93
Check your DM

[2021-10-03 16:32] rishipurwar1 commented on #66
Hey @ghozt777
Now, you can make PR.
please update your code first in the development branch and then commit only those files in which you made changes.

[2021-10-03 17:23] #66 closed

[2021-10-03 17:31] kamyaakash commented on #90
hello, can you assign this to me?

[2021-10-03 17:34] rishipurwar1 commented on #90
@kamyaakash assigned to youl

[2021-10-03 17:44] kamyaakash commented on #90
Thank you, actually I came here through your youtube. is there any way I can contact you for some queries?

[2021-10-03 19:49] arp99 commented on #93
@rishipurwar1 Please review the PR #101

[2021-10-03 20:57] arp99 commented on #93
The resources card also had a similar issue, so I am pushing the commits in this PR only
![same_issue_resources](https://user-images.githubusercontent.com/47218246/135771296-d9d7cd36-4c95-4fd2-9dd2-42930a776a58.png)

[2021-10-04 01:54] rishipurwar1 commented on #90
Hello @kamyaakash
Welcome to the CODINGSPACE community🚀
If you have queries related to this issue, then I would recommend you to ask your queries here.
If you have some personal query then you can join our Discord Community and dm me over there, you can also message me on [LinkedIn](https://www.linkedin.com/in/thefierycoder/) or [Twitter](https://twitter.com/thefierycoder).

[2021-10-04 01:58] rishipurwar1 commented on #93
Please open a new issue for the resource card and make a separate PR

[2021-10-04 01:59] rishipurwar1 commented on #93
will review it

[2021-10-04 04:10] demonicirfan commented on #89
I can not update .svg and .fig files here where should is upload then

[2021-10-04 04:12] demonicirfan commented on #89
[Google Drive Link](https://drive.google.com/drive/folders/1B2gB9U3VAK2J0CWkqrXQhUGr0KAwWEbh?usp=sharing)

[2021-10-04 04:41] demonicirfan commented on #89
[drive link](https://drive.google.com/drive/folders/1B2gB9U3VAK2J0CWkqrXQhUGr0KAwWEbh?usp=sharing)

[2021-10-04 04:42] rishipurwar1 commented on #72
@RuchikaSuryawanshi7 Any updates?

[2021-10-04 04:51] rishipurwar1 commented on #89
Hey @demonicirfan
Animation looks good to me.
But there is a slight jerk when the animation restart, is it possible to make it smooth by making some changes in the setting while exporting.
Can you please export it as a JSON file instead of SVG so, we directly reuse our Hero component otherwise we need to make some changes to the Hero Component.

[2021-10-04 04:52] rishipurwar1 commented on #89
I think you can make animation smooth by making its end state similar to the beginning state

[2021-10-04 04:54] rishipurwar1 commented on #89
you can use this converter to convert your svg to lottie file

[2021-10-04 04:57] rishipurwar1 commented on #89
and for the figma design, just shift the coming soon and button to the left little bit, something like this.
![Hero Card](https://user-images.githubusercontent.com/57035408/135796628-e40f9946-01db-4f8e-a6e9-edb0abbee6e7.png)

[2021-10-04 06:36] rishipurwar1 commented on #81
@RuchikaSuryawanshi7 any updates??

[2021-10-04 06:39] rishipurwar1 commented on #80
@Harshavardhan7678 any updates on this issue?

[2021-10-04 06:39] rishipurwar1 commented on #83
@Paawan9700 @shikhar13012001 any updates?

[2021-10-04 07:24] RuchikaSuryawanshi7 commented on #72
Hi Rishi,

For the Challenge, I have designed this UI for Quiz Web App:
https://www.figma.com/file/crbw4vyTR0jUkf4Ix4mWBM/Javascript-Quiz-App?node-id=0%3A1
Tell me if you want me to make any changes ??

On Mon, 4 Oct 2021 at 10:12, Rishi Purwar ***@***.***> wrote:

[2021-10-04 08:46] MrM-7 commented on #93
Hey! Can you assign this to me ? I will fix it.

[2021-10-04 09:07] arp99 commented on #93
I will make it in soon, by resetting the last commit, sorry for late reply

[2021-10-04 09:12] arp99 opened #104 "View resources button does not fix to bottom of card"
**Describe the bug**
View resources card does not fix to the bottom of card if the screen size is changed

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to the live website
2. Click on resources
3. You will notice view resources button is not fixed to the bottom of every card

**Expected behaviour**
The view resources button should fix to the bottom of every card

**Screenshots**

![sa

[2021-10-04 09:24] arp99 commented on #93
I have added a separate PR for that kindly, please review it

[2021-10-04 09:26] Bivas-Biswas commented on #77
@rishipurwar1 the drop down menu hide the full screen button. so I moved the option box left side.
It looks good for me.
give some feedback.
![image](https://user-images.githubusercontent.com/75929842/135827019-3b5daee3-2c9a-4401-8db5-e73cfdff7e4d.png)

[2021-10-04 09:44] Bivas-Biswas commented on #77
I think no need remove that little padding-bottom.
![image](https://user-images.githubusercontent.com/75929842/135829561-00e65c9b-78f0-4305-864b-e8052caa71d0.png)

[2021-10-04 09:52] Bivas-Biswas commented on #77
One more
also changed icon when someone clicked to the option.
![image](https://user-images.githubusercontent.com/75929842/135830699-35ab99ba-98a8-421b-9fd0-811bebe87e5d.png)

![image](https://user-images.githubusercontent.com/75929842/135830725-9a964ae8-43c3-4333-ba01-cded7433647d.png)

[2021-10-04 10:07] demonicirfan commented on #89
OK i will do the changes

[2021-10-04 10:12] demonicirfan commented on #89
But in svgator there is no option to export it as json i will try some other app where i can upload svg and get the json object

[2021-10-04 10:29] demonicirfan commented on #89
![image](https://user-images.githubusercontent.com/74172466/135835933-85900fd8-3120-4547-859f-ba4009fae6c4.png)
is this ok

[2021-10-04 10:48] rishipurwar1 commented on #89
looks good

[2021-10-04 10:54] rishipurwar1 commented on #89
Your illustration looks better than this

[2021-10-04 10:55] rishipurwar1 commented on #77
Looks good to me

[2021-10-04 10:55] rishipurwar1 commented on #77
ok

[2021-10-04 10:56] rishipurwar1 commented on #77
Open a new issue for this, don't commit all the changes in one pr

[2021-10-04 10:57] rishipurwar1 commented on #93
will review it by tomorrow. I have a lab exam tomorrow

[2021-10-04 10:59] rishipurwar1 commented on #93
this issue is already taken by @arp99, you can pick different issues from the issue page or create your own, you can easily find some UI bugs on the website but please take confirmation from me before solving the bug.

[2021-10-04 11:31] rishipurwar1 commented on #72
Hello @RuchikaSuryawanshi7

Great work!
here are few suggestions to improve this further:

1. Remove the navbar, just keep the logo if you want.
2. Take some inspiration to improve the design from websites like dribble.
Here are some examples of the good quiz web app design:

- https://dribbble.com/shots/8632945-Trivia-Quiz-Exploration
- https://dribbble.com/shots/5648198-In-Video-Quizzing
- https

[2021-10-04 11:36] rishipurwar1 commented on #81
Good headlines, let's make it great.

we also have mobile challenges in our website, change your headline accordingly and try to keep your sentence short, and include keywords related to the page.

[2021-10-04 11:57] RuchikaSuryawanshi7 commented on #72
Thanks for the Feedback.
yes for now I have kept 5 questions..

[2021-10-04 11:58] Bivas-Biswas commented on #71
@rishipurwar1 close this issue

[2021-10-04 12:02] rishipurwar1 commented on #72
ok!
Try to improve it further, take inspiration from the above-mentioned design especially the first two.

[2021-10-04 12:04] rishipurwar1 commented on #71
I left a comment on your PR, please check

[2021-10-04 12:45] rishipurwar1 commented on #104
Feel free to star a repo

[2021-10-04 12:45] rishipurwar1 commented on #72
Feel free to star a repo.

[2021-10-04 13:18] rishipurwar1 opened #108 "Fix card image height"
**Describe the bug**
In this task, you need to fix the height of the image in all the cards.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the website on Safari Browser https://www.codingspace.codes/
2. Scroll to the challenge card(Challenge, solutions)
3. See error

**Expected behavior**
The height of the image should be the same on every browser/OS

**Screenshots**
<img width="800"

[2021-10-04 13:22] a-muk commented on #108
Hello! I wld like to work on this issue. Can it be assigned to me?

[2021-10-04 13:29] rishipurwar1 commented on #108
@a-muk assigned to you.
Please share the screenshot of the changes before committing your code.

[2021-10-04 14:40] demonicirfan commented on #89
Thanks but iam not able to convert into JSON, i will send the one without jerk

[2021-10-04 14:53] demonicirfan commented on #89
[check if this works](https://assets5.lottiefiles.com/packages/lf20_ynjhr1il.json)

[2021-10-04 15:04] rishipurwar1 commented on #89
I am not able to play this animation, it's just showing me a static file. If it's working on your end then add it to a assets/animated_illustration, so, you and @AyoubBoulahtar can start working on it.

[2021-10-04 15:20] Bivas-Biswas opened #111 "improved UI/UX : move option box left to right and change drop icon on click"
Location:
challenges page

1.

- currently option box hide the figma full screen option.

- So it need to move left size

2.

- need to change the option icon onlclick

![image](https://user-images.githubusercontent.com/75929842/135877789-47c4fb10-f556-413e-bcc5-8b78492bee18.png)

[2021-10-04 16:00] #77 closed

[2021-10-04 16:22] #111 closed

[2021-10-04 16:23] #71 closed

[2021-10-04 16:26] demonicirfan commented on #89
that is the problem i created it on that lottefiles website but it is static only what should i do now

[2021-10-04 16:55] demonicirfan commented on #89
did that
i will upload the svg that is smooth without jerk

[2021-10-04 17:02] demonicirfan commented on #89
Please check

[2021-10-04 17:04] demonicirfan commented on #89
- figma file ✅
- svg ✅
- lotte animation ❎

[2021-10-04 17:45] Bivas-Biswas opened #116 "fix: open contributor link in new tab"
the social link will open on a new tab securely.

[2021-10-04 18:26] Bivas-Biswas commented on #91
I have to create this myself in code or add the details.

[2021-10-04 18:29] Bivas-Biswas commented on #27
do you refer this [swr](https://swr.vercel.app/) ?

[2021-10-04 18:58] Bivas-Biswas commented on #116
completed 🙃

[2021-10-04 20:20] akshitarora921 commented on #80
Hi, can I work on this?

[2021-10-05 00:56] rishipurwar1 commented on #91
Create a new file at the root of the folder and named it contact-form.md and put it inside the challenges(create it) folder at the root and inside this file copy the above challenge template and fill the details.

[2021-10-05 00:58] rishipurwar1 commented on #27
Yes

[2021-10-05 01:46] #116 closed

[2021-10-05 03:49] Harshavardhan7678 commented on #80
Hi Rishi, Greetings!! Thank you for being patient with me.

I have short-listed the below headings :
1) Solutions? You have come to the right page! Take a look around and find what helps you the best.
2) What's stopping you from moving forward? Do you need a helping hand? This is the perfect place for it!
3) All the solutions you need are right here!
4) Take a look around. ALL you will find are ON

[2021-10-05 03:55] rishipurwar1 commented on #80
This one sounds good to me but maybe it doesn't fit well in the UI. Can you please test this one on the UI and send me a screenshot here?

[2021-10-05 03:56] rishipurwar1 commented on #80
How about this one?
What's stopping you from moving forward? All the solutions you need are right here!

[2021-10-05 03:59] Harshavardhan7678 commented on #80
Sure! I will try this out and send you screenshots of how it looks best.

[2021-10-05 05:43] Bivas-Biswas commented on #27
Hey, I want to work on this. But First I need to learn this. So it takes some time.

[2021-10-05 05:51] rishipurwar1 commented on #27
Take your time.
Assigned to you

On Tue 5 Oct, 2021, 11:13 AM BivasBiswas, ***@***.***> wrote:

[2021-10-05 05:51] Bivas-Biswas commented on #91
can you give more details about Requirements section ? what to add it ?

[2021-10-05 06:33] Bivas-Biswas commented on #27
oke

[2021-10-05 06:33] rishipurwar1 commented on #91
Check website: https://www.codingspace.codes/challenge/KYE4YjqaSghNAwkKoQid

[2021-10-05 06:34] rishipurwar1 commented on #91
Basically, you need to write a user story.

[2021-10-05 07:09] Rispectech commented on #69
hey, @rishipurwar1 I started today. I don't know much about TailwindCSS. so should I learn it and implement or do normal CSS and styled components work?

[2021-10-05 07:18] rishipurwar1 commented on #69
Tailwindcss is very similar to normal CSS like in normal CSS we write classes in the External CSS file and then add that class to our HTML file, similarly, Tailwindcss has already created those classes for us so that we can use them directly in our HTML(React Component).
Tailwindcss docs: https://tailwindcss.com/ (docs are really good, just search for a CSS property in the docs)
Tutorial: https://

[2021-10-05 07:23] rishipurwar1 commented on #69
@Rispectech Can you please share a rough sketch of the comment system on Figma or somewhere else, so I can give you feedback on that before you start coding it.

[2021-10-05 07:44] Rispectech commented on #69
I haven't made any design yet as I am not so familiar with Figma but I was thinking of something similar to youtube only with some of the features like reply and edit. if u have something in mind please guide me through
this seems to be my current idea
https://dribbble.com/shots/3564205-Comment-Section?utm_source=Clipboard_Shot&utm_campaign=Ky_Bridges&utm_content=Comment%20Section&utm_medium=Socia

[2021-10-05 10:58] rishipurwar1 commented on #69
Hello @Rispectech

Here is design UI Design for comment section:

### Screen 1
![Screen-1](https://user-images.githubusercontent.com/57035408/136010443-9178a868-59e0-4441-8a78-796e3c80d56f.png)

### Screen 2
![Screen-2](https://user-images.githubusercontent.com/57035408/136010451-58b0b698-cd0a-4a01-b770-051d657f3a35.png)

### Screen 3
![Screen-3](https://user-images.githubusercontent.com/57035408/

[2021-10-05 11:01] rishipurwar1 commented on #69
Use the gradient background color similar to the hero section instead of the solid purple(in the image) and make some changes in the like button. First try to finish the comment section then only add like functionality(I'll open a new issue for that), Like functionality is completely optional for now.

[2021-10-05 11:02] rishipurwar1 commented on #69
You can also see the prototype in Figma, how do these features work?

[2021-10-05 11:54] Bivas-Biswas commented on #27
how I see the login page in my system ?

[2021-10-05 11:57] rishipurwar1 commented on #27
There is no login page on the website.

[2021-10-05 12:56] Rispectech commented on #69
Ohh okay I thought I had to add the functionality as well
done for now I will complete the UI only

[2021-10-05 12:57] Rispectech commented on #69
sorry I couldn't understand your question . u want to know how will I execute the functionality or something else ?

[2021-10-05 13:03] aushwin commented on #108
Can I also work on the issue ?

[2021-10-05 13:04] rishipurwar1 commented on #69
You also need to add the functionality.

[2021-10-05 13:12] rishipurwar1 commented on #69
I meant you can see the prototype of this feature on Figma how do these features work!
Something like this:

https://user-images.githubusercontent.com/57035408/136029660-db952829-51a1-4695-8bcd-1569b7898783.mov

[2021-10-05 13:15] rishipurwar1 commented on #108
already assigned to @a-muk, you can pick different issue.

[2021-10-05 13:20] Rispectech commented on #69
oh right yeah it's working for me. thanks and sorry for being such a trouble
and I wasn't able to see the cards info and I wanted to ask whether we can talk in discord as well or not
thanks

[2021-10-05 13:55] rishipurwar1 commented on #69
yes, we can but if it's related to the issue then I would suggest keeping all the discussion over here so that if someone wants to give a suggestion, they can easily give it.

[2021-10-05 13:56] rishipurwar1 commented on #69
If you have any doubt, feel free to discuss with us.

[2021-10-05 13:57] rishipurwar1 commented on #69
This feature is slightly complicated, so, plan things well before writing code. If you need any help from me, I would love to help you out.

[2021-10-05 13:58] Rispectech commented on #69
yup that's alright it's just that with discord I can share the screen and we can communicate better but if that's not feasible then it's all right for me

[2021-10-05 13:58] Rispectech commented on #69
okay will do

[2021-10-05 14:03] rishipurwar1 commented on #69
If you want to show something or discuss with me then it's completely fine to communicate with me through Discord.

[2021-10-05 14:19] #93 closed

[2021-10-05 14:44] rishipurwar1 opened #121 "Add a github star button at the Navbar"
**Describe Feature**
Your task is to build a GitHub star button and add it to the Navbar

Screenshot:
<img width="184" alt="Screenshot 2021-10-04 at 6 55 33 PM" src="https://user-images.githubusercontent.com/57035408/136045313-678d19d7-a1f4-4da2-9c9d-dfd8fa300a12.png">

Inspiration:
https://supabase.io/

[2021-10-05 14:53] random3900 commented on #121
Can I please work on this issue?

[2021-10-05 14:53] rishipurwar1 opened #122 "Add a share solution button"
**Describe the Feature**
Your task is to add a share solution button on the solution detail page so that users can share their solutions to the different social networking websites easily.

Design Inspirations:
https://www.uidesigndaily.com/posts/sketch-share-modal-pop-up-day-1118
https://www.uidesigndaily.com/posts/sketch-share-post-social-day-913
https://www.uidesigndaily.com/posts/studio-share-

[2021-10-05 14:54] Sockalingam29 commented on #121
Can I work on this issue?

[2021-10-05 14:54] rishipurwar1 commented on #121
@random3900 Yes! you can work on this.
assigned to you

[2021-10-05 14:55] rishipurwar1 commented on #121
Hey @Sockalingam29
Just assigned to @random3900, you can pick a different issue from the GitHub issue page.

[2021-10-05 14:58] rishipurwar1 commented on #121
Please share the screenshot of the changes before committing your code, If you need any help, feel free to ping me.

[2021-10-05 15:35] random3900 commented on #121
Sure! Thanks!

[2021-10-05 16:04] Smriti925 commented on #121
Please assign me this issue

[2021-10-05 16:06] rishipurwar1 commented on #121
Hey @Smriti925 already assigned to @random3900
You can pick a different issue from the GitHub issue page.

[2021-10-05 16:07] rishipurwar1 commented on #121
Feel free to star this repo.

[2021-10-05 16:13] rishipurwar1 opened #123 "Fix footer spacing"
**Describe the bug**
There is less padding at the bottom of the footer on the small screen devices.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the website on the small screen devices.
2. Scroll down to the footer
4. See an error

**Expected behavior**
There should be enough spacing at the bottom of the footer.

**Screenshots**
![www codingspace codes_(iPhone 6_7_8 Plus)](https://u

[2021-10-05 16:18] Paawan9700 commented on #123
@rishipurwar1 i would like to work on this issue

[2021-10-05 16:23] rishipurwar1 commented on #123
assigned to you.

[2021-10-05 16:25] rishipurwar1 commented on #104
I think the same issue is in the solution cards as well.
Please fix that as well.

[2021-10-05 16:25] demonicirfan commented on #89
Hi what i have to do now

[2021-10-05 16:25] #104 closed

[2021-10-05 16:27] demonicirfan commented on #39
yes @AyoubBoulahtar hacktoberfest is a motivation but I want to work on some front end open source projects too

[2021-10-05 16:32] rishipurwar1 commented on #89
Start building it

[2021-10-05 16:34] demonicirfan commented on #39
I have uploaded the files lets work together on this please guide me and how can we work on this please share the details too. I uploaded all the files and will share them [here](https://drive.google.com/drive/folders/1B2gB9U3VAK2J0CWkqrXQhUGr0KAwWEbh?usp=sharing)

[2021-10-05 16:39] rishipurwar1 commented on #39
I can't work right now together because of my ongoing lab exams. I have to study for that. But over this weekend I can help you.

[2021-10-05 16:43] arp99 commented on #104
I didn't notice it while testing as there was only one card, could you please create an issue and assign me?

[2021-10-05 16:47] rishipurwar1 commented on #104
Can you please create an issue by yourself, I'll assign you.

[2021-10-05 16:47] random3900 commented on #121
Hey! Is this fine?
![image](https://user-images.githubusercontent.com/61742380/136066791-c8789146-a02e-41bf-bfac-9b0c7aa115f5.png)

![image](https://user-images.githubusercontent.com/61742380/136066692-843988af-bf80-45be-9529-7cbd6e575d10.png)

[2021-10-05 16:58] rishipurwar1 commented on #121
Looks good to me!
Can you please add some kind of hover effect on this button similar to [this](https://supabase.io/)
And You also need to add this button on the mobile dropdown menu similar to this [website](https://supabase.io/)

[2021-10-05 16:58] yash-blmnm commented on #122
@rishipurwar1 Hi I am new to open source contribution, but I have 5years of experience working with Frontend Frameworks. I would like to work on this issue with some help. Thanks.

[2021-10-05 16:59] rishipurwar1 commented on #121
You can fill the star with white color on hover!

[2021-10-05 17:02] rishipurwar1 commented on #122
@yash-blmnm Assigned to you!

[2021-10-05 17:03] AyoubBoulahtar commented on #39
@demonicirfan dm me in Twitter

[2021-10-05 17:47] rishipurwar1 commented on #91
@Bivas-Biswas Any updates?

[2021-10-05 17:48] rishipurwar1 commented on #91
Will it be possible for you to complete this before Friday?

[2021-10-05 18:09] Bivas-Biswas commented on #91
oke

[2021-10-05 19:11] demonicirfan commented on #79
![image](https://user-images.githubusercontent.com/74172466/136087707-918f2a52-6e81-4609-81be-629b7d949a7e.png)
does this look good to you

[2021-10-05 19:12] demonicirfan commented on #79
I have played with spaceing line height and width still got to figure out how can i make it look good. Just need your feedback

[2021-10-06 00:51] rishipurwar1 commented on #121
Can you please attach a screen recording of the changes or attach two different pictures for hover and normal state?

[2021-10-06 04:21] random3900 commented on #121
Sure!

Navbar - without hover
![image](https://user-images.githubusercontent.com/61742380/136139892-edf4602d-e53a-4917-886f-3e69caaea875.png)

Navbar - on hover
![image](https://user-images.githubusercontent.com/61742380/136139865-32df113c-52f5-4ee9-b939-ca8fa301ad2d.png)

Sidebar - without hover
![image](https://user-images.githubusercontent.com/61742380/136139950-8b315683-1bf9-4f2f-a951-be2a93b1

[2021-10-06 04:49] rishipurwar1 commented on #121
You did a really great job.

In tablet mode, you need to remove the star button from the navbar because you already add it on the sidebar or vice versa.

And then make a PR on the development branch(not in the main branch)

[2021-10-06 04:50] rishipurwar1 commented on #121
You can create a new issue for the signup GitHub button and add a hover effect on that.

[2021-10-06 04:51] rishipurwar1 commented on #121
and to learn how to fill background color to icon, see [this example](https://codepen.io/vidalive/pen/gKwYbo?editors=1100)

[2021-10-06 05:19] demonicirfan commented on #39
ok i sent you a follow request

[2021-10-06 05:41] random3900 opened #128 "Add Hover Effect for Github Sign up Button"
Currently, the 2 github signup buttons on the home page do not have any hover effects on them.
![image](https://user-images.githubusercontent.com/61742380/136146471-75ae2950-9d9a-4abe-a8db-8e1577abc531.png)
![image](https://user-images.githubusercontent.com/61742380/136146582-8d63315b-e559-44a8-a985-dccbf009576c.png)

Hover effects need to be added similar to [this](https://supabase.io/)

[2021-10-06 05:50] aryan2621 opened #129 "Is there anyway I can contribute in this project?"

[2021-10-06 07:25] Rispectech commented on #69
Nope, I don't think so I have access to your DB. I will dm you in discord

[2021-10-06 11:01] random3900 commented on #128
Hero Button without hover
![image](https://user-images.githubusercontent.com/61742380/136190441-17779c49-1ec9-4797-997f-8578da8bb9f2.png)

Hero Button with hover
![image](https://user-images.githubusercontent.com/61742380/136190550-f8ceaf19-475b-4ef9-9677-1034481f8a28.png)

Navbar button without hover
![image](https://user-images.githubusercontent.com/61742380/136190588-c03cff05-789e-4113-bb7a-062

[2021-10-06 11:28] rishipurwar1 commented on #128
It just looks OK to me in the pictures.

[2021-10-06 11:29] rishipurwar1 commented on #128
Try to use different background colors

[2021-10-06 12:46] rishipurwar1 commented on #129
@aryan2621 yes there are so many ways to contribute to this project. You can pick an issue from the github issue page or create an issue(you can easily find UI bug). You can also help us to write new challenge. You can also create new challenges for the codingspace community.

Please join the codingspace [discord server](https://discord.com/invite/FYSQUEw6xP).
Please give a star to this repo.

[2021-10-06 12:47] rishipurwar1 commented on #129
I am going to close this issue but you can reply on this.

[2021-10-06 12:47] #129 closed

[2021-10-07 09:38] DarkSoul26 commented on #90
@rishipurwar1 can you please assign this issue to me?

[2021-10-07 11:33] rishipurwar1 commented on #39
ok

[2021-10-07 12:13] Paawan9700 commented on #123
actually i am not be able to fix this issue, you can assign it to anyone else

[2021-10-07 12:36] rishipurwar1 commented on #123
Yes you can work on this issue.

[2021-10-07 13:00] DarkSoul26 commented on #123
Hey, @rishipurwar1 can you assign this task to me, I'm not able to push my commits.

[2021-10-07 16:55] tausifaman222 opened #132 "Add a hover effect on any card"
**Is your feature request related to a problem? Please describe.**
Currently, the website doesn't have any hover effect on any card. So, I would like to add a cool hover effect to the card.

**Describe the solution you'd like**
My suggestions :
- Add a levitating effect on hovering over the card.
- Cool Shadow on hover

**Additional context**
I am talking about this card which currently lacks any

[2021-10-08 06:53] Prashoon123 opened #135 "The website should use react-firebase-hooks to clean the code"
# Overview
## Is your feature request related to a problem? Please describe.
The firebase hooks seem pretty complicated so if we implement react-firebase-hooks then the code will be pretty simple to work with.

## Describe the solution you'd like
First of all, we will upgrade the firebase version to 9 as react-firebase hooks only support Firebase v9+. Moreover, we will use the compat version the s

[2021-10-08 06:53] Prashoon123 commented on #135
@rishipurwar1 can you please assign this to me?

[2021-10-08 07:22] rishipurwar1 commented on #135
Hey @Prashoon123
I also want to refactor the code of firestore hook.
We'll work together on this issue, just give me some time. I am a little busy these days.
For now, write things down how are you going to make changes and what is the impact of those changes on the website(i.e. improve performance).

[2021-10-08 12:06] rishipurwar1 commented on #135
Great
Will take a look!

[2021-10-08 18:29] Preetojha08 commented on #132
Hey @rishipurwar1, I also want to work on this issue this is a great opportunity for me.

[2021-10-09 02:46] rishipurwar1 commented on #122
Hey @yash-blmnm Is it possible for you to convert into the modal like this.
https://www.uidesigndaily.com/posts/sketch-share-post-social-day-913
I think the above looks much better and remove this google + icon and change it to LinkedIn and also add Reddit and discord button and place Twitter icon in the first place and then discord.

And you also need to add a default intent.
For Twitter share ic

[2021-10-09 02:48] rishipurwar1 commented on #122
You need to break this task down, first work on building this modal and then show me how it looks then proceed further.

If you need any help, feel free to ping me.

[2021-10-09 02:55] rishipurwar1 commented on #26
@tausifaman222 please first show me changes before committing it and make a pr to the development branch and only commit those files in which you make changes, don't commit package.json and package-lock.json unless you make changes in these files.

[2021-10-09 02:59] rishipurwar1 commented on #132
Hey @Preetojha08
You can also work on this but you need to work on the solutions card instead of the challenge but please make sure you and @tausifaman222 adding the same hover effect.

You can discuss your ideas in the codingspace [discord server](https://discord.com/invite/FYSQUEw6xP) in the codingspace-features-discussion channel.

Feel free to give a star to the repository.

[2021-10-09 03:03] rishipurwar1 commented on #132
Assigned to you
Before committing your code, please show a screenshot of the changes and try to change a box-shadow property on hover, I think It would look good.
and please make a PR to the development branch, not in the main branch.

[2021-10-09 03:37] random3900 commented on #121
Sure, could you please tell me how to view them? I can only see the comment by the Vercel bot.

[2021-10-09 05:00] rishipurwar1 commented on #121
You can see it over here: https://github.com/rishipurwar1/coding-space/pull/127

[2021-10-09 12:59] random3900 commented on #121
Thanks, I've made the necessary changes and committed them to the PR branch

[2021-10-09 15:49] rishipurwar1 commented on #69
What do you want to achieve?

[2021-10-09 16:07] Rispectech commented on #69
actually, I add some new width values. then used npm run build but changes weren't implemented
so I searched up the docs and found that it was working after making the changes
is there any other procedure to go through with tailwind?

[2021-10-09 18:48] yash-blmnm commented on #122
@rishipurwar1
I have built a sample modal for the share icons. Please share your thoughts

<img width="1440" alt="Screenshot 2021-10-10 at 12 15 05 AM" src="https://user-images.githubusercontent.com/27405419/136670639-7e5a35d9-5a88-4e59-bbfc-48f8b509febc.png">

Also, is there any other social platform needed to be added to the list?

[2021-10-10 02:28] rishipurwar1 commented on #122
Great Job!
Looks really good to me

Here is my feedback:

- [ ] Add Reddit icon
- [ ] In the copy link section, you need to put the link of the codingspace solution, not the website link.
- [ ] Change the background color to some dark to match our dark theme. (see other models on our website for reference i.e when we download a challenge)
- [ ] Add hover effect on icons
- [ ] When someone clicks o

[2021-10-10 10:19] rishipurwar1 opened #138 "On click profile modal should get close"
**Describe the bug**
In the profile menu, when we click on my solutions button, it doesn't close the profile modal

**To Reproduce**
Steps to reproduce the behavior:

1. log in to the website
2. Click on your profile picture
3. then click on my solutions
4. See an error

**Expected behavior**
When we click on my solutions button or outside that profile modal, it should get close.

**Screenshots**

[2021-10-10 10:24] rishipurwar1 opened #139 "Add hover effect to profile modal links"
**Describe the bug**
Right now, we don't have a hover effect on profile menu modal links.

**To Reproduce**
Steps to reproduce the behavior:

1. Login to the website
2. Click on your profile picture
3. Hover over the links
4. See error

**Expected behavior**
When we hover over the profile modal links, it should show a hover effect similar to the challenge details dropdown menu(👇see below)

https:/

[2021-10-10 13:24] rishipurwar1 commented on #108
Still showing to me
<img width="1193" alt="Screenshot 2021-10-10 at 6 54 13 PM" src="https://user-images.githubusercontent.com/57035408/136697678-a58958ae-46ff-4ffa-a981-a8123db9455c.png">

[2021-10-10 13:25] rishipurwar1 commented on #108
Browser Version?

[2021-10-10 16:01] programmerraja commented on #138
@rishipurwar1 can i work on this bro

[2021-10-10 16:06] rishipurwar1 commented on #138
@programmerraja yes, you can work on this.

[2021-10-12 02:04] a-muk commented on #108
sir, I tried a lot but am not sure how to do this one. You can assign it to someone else 🙏🏻

[2021-10-12 12:47] rishipurwar1 commented on #108
@a-muk No Problem

[2021-10-13 04:23] rishipurwar1 commented on #121
Thanks for your valuable contributions.
Changes are live on the website.

[2021-10-13 04:33] rishipurwar1 commented on #79
Will review it soon

[2021-10-13 04:59] #139 closed

[2021-10-13 05:32] RashiSingh20 commented on #138
@rishipurwar1 Hey Can you please assign it to me? I would like to work on this.

[2021-10-13 09:42] rishipurwar1 commented on #138
@RashiSingh20 you can work on this

[2021-10-13 12:30] rishipurwar1 commented on #122
@yash-blmnm any updates on this?

[2021-10-13 12:32] rishipurwar1 commented on #90
@DarkSoul26 any updates on this?

[2021-10-13 12:50] DarkSoul26 commented on #90
Hey @rishipurwar1 the cards section is not visible to me and maybe I know the reason. It is because I have used my credentials for firebase storage not yours.

Can you suggest any solution so that I can see the cards in all the sections?

[2021-10-14 04:09] RashiSingh20 commented on #138
Yes, I created a project on firebase and used the config file . My email id:  rashisingh2620@gmail.com @rishipurwar1

[2021-10-14 04:33] rishipurwar1 commented on #90
@DarkSoul26 just gave you access

[2021-10-14 07:09] purnima176108 commented on #122
Is there anything that needs to be solved regarding the share solution button?

[2021-10-14 07:51] imps1001 commented on #82
Can I also work on it

[2021-10-14 08:09] imps1001 commented on #26
Hey @rishipurwar1, I can work on this issue if this is still open.

[2021-10-14 08:10] imps1001 commented on #27
I also wants to work on this issue.

[2021-10-14 09:37] rishipurwar1 commented on #82
yes you can work on this one.

[2021-10-14 09:39] rishipurwar1 commented on #27
@Bivas-Biswas are you working on this one?

[2021-10-14 09:39] rishipurwar1 commented on #69
@Rispectech any updates on this one?

[2021-10-14 12:43] rishipurwar1 commented on #69
time is not an issue for me. I just wanted to know that you are working or not.
Take your time.

[2021-10-16 13:40] yash-blmnm commented on #122
@rishipurwar1 Almost completed with the solution. I Will update tonight.

[2021-10-16 20:43] yash-blmnm commented on #122
Hi @rishipurwar1 Please review if these changes are okay.

<img width="632" alt="Screenshot 2021-10-17 at 2 07 16 AM" src="https://user-images.githubusercontent.com/27405419/137601652-aa9357bc-ad29-48c8-8a30-9fdecd342483.png">

One more varient for hover

<img width="570" alt="Screenshot 2021-10-17 at 2 12 08 AM" src="https://user-images.githubusercontent.com/27405419/137601650-308619b4-6f75-4bbb-

[2021-10-16 23:07] Harshavardhan7678 commented on #83
Hey @rishipurwar1, I would like to work on this as well.
The headlines I would suggest are:

1. Looking for solutions? You have come to the right page!
2. There you go. All the solutions you need are right here.
3. Take a look around. Here are your solutions.
4. Do help yourselves with all the solutions available.
Kindly suggest to me which you feel might be best, and I will start working on it.

[2021-10-17 04:25] rishipurwar1 commented on #122
Really looks good to me.

Just to confirm Is it vertically and horizontally centered?
And one more thing what happens when you click on these social icons like Twitter. Ideally, these buttons should have default intent. For example, the Twitter button should have a default tweet embedded in a button, so, when you click on Twitter, it opens a Twitter website and has a default tweet on it something

[2021-10-17 04:27] rishipurwar1 commented on #122
If you need any help in embedding default text in these buttons, please do let me know. This feature is going to be an important feature for the users.

[2021-10-17 04:36] rishipurwar1 commented on #83
@Harshavardhan7678 great headlines. But this is "my solutions" page means this page is only available to the user that submitted those solutions.
this line is good(Take a look around. Here are your solutions.) but improve it a little bit something like "All your hard work lives here. Take a look around. Here are your solutions." Try to improve it and make a pr.

[2021-10-17 04:46] rishipurwar1 commented on #122
You can make use of this package: https://www.npmjs.com/package/react-share but this package doesn't include a discord button. I think we can make this thing without using this package, just need to think a little bit.

[2021-10-17 07:30] Rispectech commented on #69
hey @rishipurwar1, I have made all the components according to the Figma design. I wanna discuss something about the functionality. so how can I do that? on discord or something else?

[2021-10-17 07:56] imps1001 commented on #27
Hey @rishipurwar1, kindly assign this to me

[2021-10-17 10:52] rishipurwar1 commented on #27
@imps1001 you can work on this with @Bivas-Biswas

[2021-10-17 20:37] yash-blmnm commented on #122
@rishipurwar1
Just to confirm Is it vertically and horizontally centered?
- Yes I have aligned them using flex and justified using `space-between. so the addition or removal of icons doesn't impact the design.

- On clicking any icon, the users are taken to the respective sharing pages.
Eg.
<img width="725" alt="Screenshot 2021-10-18 at 12 16 47 AM" src="https://user-images.githubusercontent.com/2

[2021-10-17 20:38] yash-blmnm commented on #122
@rishipurwar1 Should we also provide a text box for the users to edit the summary/text before they select any sharing options?
Just a suggestion from the user's point of view.

[2021-10-18 05:35] rishipurwar1 commented on #138
Yes, You can work on this but I think I already have a setOpen something in the code that will help you in achieving this functionality.

[2021-10-18 05:41] rishipurwar1 commented on #122
I don't think we have a way to do that. Any ideas what we can do instead of that?

[2021-10-18 06:52] Bivas-Biswas commented on #138
i know. but when we click outside the components , it must be close. For
this I used a custom hooks before.

On Mon, Oct 18, 2021, 11:05 AM Rishi Purwar ***@***.***>
wrote:

[2021-10-18 07:10] rishipurwar1 commented on #138
You can make use of the same thing for that as well! You need to give a transparent background to the outer div and then that div should occupy the cover the whole content and then add onClick event to that div, so, when the user clicks on the outer part of the modal then it'll run set setIsOpen(false). I did the same for the delete solution button.

[2021-10-18 08:13] Bivas-Biswas commented on #138
okey, got it

[2021-10-18 17:51] #138 closed

[2021-10-18 18:02] Bivas-Biswas opened #148 "On click outside side navbar need to be closed in mobile view"
**Describe the bug**
In mobile view when we click outside the nav bar is need to be closed.

**To Reproduce**
Steps to reproduce the behavior:
Open the site in mobile view. click the hamburger menu. now scroll down. and click outside the side nav.

**Expected behavior**
A clear and concise description of what you expected to happen.
Need to be closed after click outside the components

[2021-10-18 18:17] rishipurwar1 commented on #83
Yes! add this line and first send me ss of different screen sizes.

[2021-10-18 18:30] rishipurwar1 commented on #122
Yes! we can add the discord invite link for now
and the text summary looks good. Can we add this text box below the copy link?
Is it possible to add a link to a particular channel of our discord server i.e share-your-solutions?
and please test your changes on different screen sizes.

Yes! we can add the discord invite link for now
Is it possible to add a link to a particular channel of our discord

[2021-10-19 07:40] #148 closed

[2021-10-20 06:58] Kunal0007 opened #155 "Add css style to scrollbar"
Add style to the scrollbar matching with the theme.

Can I work on this issue??

[2021-10-29 19:24] tausifaman222 commented on #132
@rishipurwar1 Please see the preview below and suggest if any customizations are required.

https://user-images.githubusercontent.com/72369808/139490841-cbf3fca1-6fe2-492d-9032-fca3ebf03ccc.mp4

[2021-10-30 11:20] rishipurwar1 commented on #132
I just added a new challenge in the development firebase project.
Can you please share a screen recording of the hover effect on different screen sizes?
and Is the first card overlapping over the second card on hover?

[2021-10-30 14:50] tausifaman222 commented on #132
@rishipurwar1 Sure, I have shared the screen recording. Please take a look and give suggestions

https://user-images.githubusercontent.com/72369808/139538049-ff5f4c5f-576d-4296-9e3d-92f48f679a35.mp4

[2021-10-31 03:14] rishipurwar1 commented on #132
everything looks good to me!

Is there any need to add the `cursor: pointer` property to the whole card? We didn't attach a link to the whole card, so, onclick nothing will happen.

[2021-10-31 04:24] tausifaman222 commented on #132
No, practically not needed. If you suggest, I can remove it. Only, view challenge part needed the pointer.
Thanks for suggestions
@rishipurwar1

[2021-11-02 11:47] rishipurwar1 commented on #122
Hello @yash-blmnm sorry for the late reply
I think you're directly pushing the changes on the repo.
Have you forked my repo?

[2021-11-02 17:10] yash-blmnm commented on #122
No, I am using one cloned using SSH.

On Tue, Nov 2, 2021 at 5:17 PM Rishi Purwar ***@***.***>
wrote:

[2021-11-03 03:34] rishipurwar1 commented on #122
First, create a fork of[ my repo](https://github.com/rishipurwar1/coding-space) and then clone the forked repo! it should work.

[2021-11-29 09:51] likitarai1 commented on #69
@rishipurwar1 Can I work on this issue?

[2021-11-29 17:16] likitarai1 commented on #81
@rishipurwar1 Can I work on this issue?

I have thought about a few headlines as well:

• Your goto place for web and app  development related resources.
• Right place to find development related resources.
• Start your web or  app development journey.

[2022-05-17 18:32] ericdrosado opened #173 "Community Exchange Introduction/Tracking"
👋 Hi @rishipurwar1,

I am your GitHub mentor for the GitHub Education, [Community Exchange](https://airtable.com/shrRJ3AvEZQohOdGV) (CX) project. I'll be collaborating with you on preparing your repo for CX.

You mentioned in your submission that you wanted to submit a `Collaborate` repo. This means that you want to invite other students to collaborate and add features to this repo. I will generat

[2022-05-18 01:56] rishipurwar1 commented on #173
Hello Eric👋,

Thanks for reviewing my repository🙏.
I'm looking forward to submitting it as well.

[2022-06-14 15:13] ParasSolanki opened #177 "Login modal design is broken and not closable at small screen."
**Describe the bug**
At small screen devices no way to close the login modal and design is also broken.

**To Reproduce**
Steps to reproduce the behavior:

1. You should not be logged in if you are logged in log out.
2. Go to any [Challenge details page](https://www.codingspace.codes/challenge/2m645LgvLil4GqPNzSFL).
3. Open this page on mobile device which has resolution below 670px or resize your

[2022-06-18 02:49] rishipurwar1 commented on #177
Hello Paras,
Thanks for reporting this issue.

Would you like to work on this issue?

[2022-06-18 12:33] ParasSolanki commented on #177
Yeah would love to help..

[2022-07-31 02:14] #135 closed

[2022-07-31 02:15] #132 closed

[2022-07-31 02:15] #128 closed

[2022-07-31 02:15] #108 closed

[2022-07-31 02:17] #69 closed

[2022-07-31 02:18] #26 closed

[2022-07-31 04:19] SAKSHAM-SINGH130 commented on #26
there are some specific codes for it. I can fixed this issue

[2022-08-01 12:25] rishipurwar1 commented on #26
Issue is fixed now.

[2022-10-02 05:07] #173 closed

[2022-10-02 05:07] rishipurwar1 commented on #155
Hello @Kunal0007 really sorry for the late reply. Do you still want to work on this?

[2022-10-02 05:08] #177 closed

[2022-10-02 05:10] #83 closed

[2022-10-02 05:10] #82 closed

[2022-10-02 05:11] #81 closed

[2022-10-02 05:11] #27 closed

[2022-10-02 05:12] #79 closed

[2022-10-02 05:12] #90 closed

[2022-10-02 05:48] rishipurwar1 opened #189 "Delete modal is not visible"
**Describe the bug**
The delete modal doesn't visible completely when we open it in the middle of the page.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to any of your submitted solutions.
2. Scroll down to the website preview.
3. Click on the delete icon
4. See an error

**Expected behaviour**
It should be on top of everything and completely visible when a user clicks on the delete

[2022-10-02 05:53] JatinSingh08 commented on #189
Hey @rishipurwar1  Please assign this to me.

[2022-10-02 05:57] rishipurwar1 commented on #189
Assigned to you.

Note: Please make a PR to the development branch **NOT** in the main branch and test your changes on all the pages where we're using this component.

[2022-10-02 06:00] rishipurwar1 opened #190 "Profile photo modal not completely visible on mobile screen."
**Describe the bug**
The Profile photo modal doesn't completely visible on a mobile screen, the waving hand emoji icon overlaps the modal. (See screenshot)

**To Reproduce**
Steps to reproduce the behaviour:

1. Open any page of the website on mobile screen.
2. Click on the Avatar Modal (Please log in first)
3. See error

**Expected behaviour**
The profile photo modal should be on top of everythin

[2022-10-02 06:01] Kunal0007 commented on #155
Yes

[2022-10-02 06:02] rishipurwar1 commented on #155
Assigned to you!

Note: Please make a PR to the development branch NOT in the main branch and test your changes on all the pages before making a PR.

[2022-10-02 06:13] rishipurwar1 opened #191 "Add a loading indicator to the delete button"
**Describe the improvement**
Right now, when a user opens a delete modal on the solution details page and clicks on the delete button, it immediately redirects the user to the homepage without showing a delete indicator on the button.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to any of your submitted solutions.
2. Click on the delete icon
3. Click on the delete button
4. See an is

[2022-10-02 06:14] drishit96 commented on #190
Hi @rishipurwar1, I'd like to work on this

[2022-10-02 06:16] rishipurwar1 commented on #190
@drishit96 Assigned to you.

Note: Please make a PR to the development branch NOT in the main branch and test your changes on all the pages where we're using this component before making a PR.

[2022-10-02 06:17] rishipurwar1 commented on #190
Looking forward to seeing your PR! Feel free to give a star⭐️ to this repo.

[2022-10-02 06:18] rishipurwar1 commented on #189
Looking forward to seeing your PR! Feel free to give a star⭐️ to this repo.

[2022-10-02 06:20] gogoiakash2311 commented on #191
hey @rishipurwar1 can you assign this to me?

[2022-10-02 06:21] Akshay9607 commented on #191
Hello i want to work on this issue

[2022-10-02 06:27] JatinSingh08 commented on #189
Yes, Thanks @rishipurwar1 .

[2022-10-02 06:28] Chitvan14 commented on #191
Hi, I will be happy to solve this issue, please assign this to me.

[2022-10-02 06:43] Rahul-Palahwat commented on #191
Hey @rishipurwar1 as this is going to be my first contribution , can you please assign this issue to me

[2022-10-02 06:56] JatinSingh08 commented on #189
@rishipurwar1  Can you please tell what's the file name for the delete solution component?

[2022-10-02 07:01] rishipurwar1 commented on #191
Thank you all for showing your interest in contributing to this issue.

But I can only assign this to one(first come first serve basis). I'll open more issues, please keep an eye on the issue page of this repo.

@gogoiakash2311 assigned to you!

Looking forward to seeing your PR!
Feel free to give a star✨ to this repo, everyone!

[2022-10-02 07:03] gogoiakash2311 commented on #191
Thanks, @rishipurwar1 for assigning me for this. Already gave a start to this repo!

[2022-10-02 07:16] rishipurwar1 commented on #189
File: https://github.com/rishipurwar1/coding-space/blob/main/src/components/reusable/ConfirmationModal.js

[2022-10-02 07:25] JatinSingh08 commented on #189
Okay, got it.....Thanks.

[2022-10-02 07:46] #190 closed

[2022-10-02 08:43] JatinSingh08 commented on #189
@rishipurwar1  can you guide me on how setup the database for challenges? I'm unable to run the app so that I can delete one solution to check whether my code is running fine or not.

[2022-10-02 09:48] rishipurwar1 commented on #189
can you please share your email id here or dm me on the [codingspace discord](https://discord.com/invite/FYSQUEw6xP) server so that I can add you to our database?

[2022-10-02 10:51] JatinSingh08 commented on #189
Dmed you on discord server.

[2022-10-03 04:09] ShubhamPatil0723 commented on #72
@rishipurwar1 can I also work on adding challenge? I want to add challenge that I recently faced

[2022-10-04 06:19] rishipurwar1 commented on #189
@JatinSingh08 Any updates??

[2022-11-08 07:16] daniel-dev-lab commented on #72
willing to help where I can with this project! I was going to just DM you, but decided to just add my interest in the project here :) Thanks

[2022-11-21 16:21] rishipurwar1 commented on #72
Hello @daniel-dev-lab, Thanks for showing your interest in contributing to this open-source project.

As of now, I'm not accepting new contributions. I'll let you know when I start accepting new contributions.